{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <div>
    <h3>{{ table }}</h3>
    <table class="table table-bordered ">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Word</th>
                <th scope="col">Count</th>
                <th scope="col">Freq</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            {% for value in data %}
                <tr>
                    <td></td>
                    <td>{{ value.Word }}</td>
                    <td>{{ value.Count }}</td>
                    <td>{{ value.Freq }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>
{% endblock %}
